$big: 8vw;
$medium: 4vw;
$small: 2vw;

body {
    background-position: top;
    background-color: black;
}

@media (min-width: 768px) {
    .font-big {
        font-size: $big;
    }

    .width-92 {
        width: 92% !important;
    }
}

@media (max-width: 768px) {
    .font-big {
        font-size: $medium;
    }

    .width-92 {
        width: 93% !important;
    }
    p{
        font-size: $big;
        padding: 1em;
    }
    h1{
        font-size: $medium;
        padding: 0.5em;
    }
    form, table tr{
        font-size: $medium;
    }
}